<%= render 'header' %>

<% if @covid_profiles.present? %>
  <div class="card fixed-custom-card">
    <div class="card-header">
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'covid_profiles/list',
        locals: { covid_profiles: @covid_profiles }
      ) %>
    </div>
  </div>
<% else %>
<%= render(
  partial: 'shared/not_found',
  locals: { object_name: 'perfil covid' }
) %>
<% end %>