
<% content_for :page_header do %>
  <% if current_user.sector.present? %>
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link #{active_action('index')}" do %>
        <%= fa_icon "home" %>
        Inicio
      <% end %>
    </li>
  <% else %>
    Bienvenido <%= current_user.full_name.titleize %>
  <% end %>
<% end %>