
<% content_for :page_header do %>
  <% if current_user.sector.present? %>
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link #{active_action('index')}" do %>
        <%= fa_icon "home" %>
        Inicio
      <% end %>
    </li>
    <li class="d-flex nav-item align-items-center pl-2 mx-auto">
      <strong>INFORMACIÓN DE <%= current_user.establishment.city.name.upcase %></strong>
    </li>
  <% else %>
    Bienvenido <%= current_user.full_name.titleize %>
  <% end %>
<% end %>